 
  <h1>Enter Your Customer Details</h1>
  <%= simple_form_for customer_index_path  do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :email %>
    <br />
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>