<!DOCTYPE html>
<html>
  <head>
    <title>Joanna Tracy Quiz2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class=custom>Parkz</p>
    <div class="navbar-inner">
     
       
      </a>
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'New Customer', new_customer_path %>
        </div>
        
      </div>
    <p class=headline>The only parking app you will ever need!</p>
   <div class="booyah-box col-10 offset-1">
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    
    </div>
  </header>
    <%= yield %>
  </body>
</html>

<!--stopped at lesson 7 bootstrap, decicded to do basic html instead-->
